.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
    margin:10px auto
}

@media(max-width: 500px) {
    .Projects {
        width: 95%;
    }
}