.Layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f9f7f1;
    width:100%;
    height: 100vh;
    font-family: 'Droid Serif',serif;
    overflow: scroll;

}

.Layout nav {
    width: 95%;
    justify-content: center;
    font-size: small;
    text-transform: capitalize;
    border-bottom: 1px solid #b4b4b4;

}

.Layout a {
    color: black;
}

.Outline {
    /* border: 1px solid black; */
    width: 90vw;
    height: 100%;
    text-align: left;
    font-size: small;
}

/* For Desktop */
@media (min-width: 600px) {
    .Outline {
        width: 70vw;
        font-size: large;
    }
    .Layout nav {
        justify-content: left;
        font-size:medium;
    }
}